
@{
    ViewBag.Title = "UserView";
}

<h2>UserView</h2>

<p> 
    User : <br/>
    Cash : @Model.Cash <br/>

    Band : <br/>
    Name : @Model.Bands[0].Name <br />
    Fame : @Model.Bands[0].Fame <br />

    Players : <br />
    @{ 
        foreach(var player in @Model.Bands[0].Players)
        {
            @player.Name; 
        }
    }
 </p>